@use "../../../../assets/styles/mixin.scss" as mixin;

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 1150px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  @include mixin.md {
    height: auto;
  }
  @include mixin.sm {
    padding: 50px 0px;
  }
  .title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 50px;
    background: linear-gradient(to right, #030303, #006ea3);
    border-radius: 15px;
    display: inline-block;
    padding: 15px;
    @include mixin.md {
      font-size: 1.5rem;
    }
    @include mixin.sm {
      font-size: 1.3rem;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      line-height: 1.5;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 48%;
    width: 910px;
    height: 910px;
    background-image: url("../../../../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.02;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.hexagonContainer {
  position: relative;
  width: 900px;
  height: 520px;
  margin: auto;
  @include mixin.md {
    display: none;
  }
}

.hex {
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex1 {
  top: -145px;
  left: 52.4%;
  transform: translateX(-50%);
}
.hex2 {
  top: 65px;
  left: 40px;
}
.hex3 {
  top: 65px;
  right: 0;
}
.hex4 {
  bottom: -10px;
  right: 0;
}
.hex5 {
  bottom: -10px;
  left: 40px;
}
.hex6 {
  bottom: -220px;
  left: 52.4%;
  transform: translateX(-50%);
}

.detailsContainer {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 300px;
  padding: 20px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #006ea3;
  border-top: 1px solid #006ea3;
  @include mixin.md {
    display: none;
  }
}

.mobile {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0 20px;
  @include mixin.md {
    display: flex;
  }
  .mobileItem {
    border-bottom: 1px solid #006ea3;

    .summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      border: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      width: 100%;
      padding: 10px 0;
    }

    .answer {
      margin-top: 10px;
      p {
        margin-bottom: 10px;
      }
    }
  }
}
