.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  background-color: var(--btn-bg, #006ea3);
  color: var(--btn-color, white);
  border: 1px solid var(--btn-border, #006ea3);

  &:hover {
    background-color: var(--btn-hover-bg, white);
    color: var(--btn-hover-color, #006ea3);
    border-color: var(--btn-hover-border, #006ea3);
  }
}

.primary {
  --btn-bg: #006ea3;
  --btn-color: white;
  --btn-border: #006ea3;

  --btn-hover-bg: white;
  --btn-hover-color: #006ea3;
  --btn-hover-border: #006ea3;
}

.secondary {
  --btn-bg: white;
  --btn-color: #006ea3;
  --btn-border: white;

  --btn-hover-bg: #006ea3;
  --btn-hover-color: white;
  --btn-hover-border: #006ea3;
}
