@use "../../../../assets/styles/mixin.scss" as mixin;

.container {
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 2s ease;
  padding: 10px;
  &.fadeIn {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
  @include mixin.md {
    padding: 0 20px;
  }
  @include mixin.sm {
    min-height: auto;
  }
}

.logo {
  width: 70%;
  @include mixin.md {
    display: none;
  }
  img {
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 5s ease;
    &.visible {
      opacity: 1;
    }
  }
  p {
    font-size: 53px;
    text-align: center;
    margin-top: 20px;
    color: #006ea3;
    text-shadow: 0 2px 4px rgba(97, 158, 171, 0.215);
    transform: translateX(-100vw);
    transition: transform 1s cubic-bezier(0.25, 1.3, 0.5, 1);
    &.animate {
      transform: translateX(0);
    }
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #006ea3;
  h1 {
    font-size: 60px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.5;
    margin: 20px;
    letter-spacing: 2px;
    text-align: center;
    background-image: linear-gradient(to right, #006ea3, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mixin.md {
      font-size: 42px;
      margin: 0 150px;
      margin-bottom: 50px;
    }

    @include mixin.sm {
      font-size: 35px;
      margin: auto;
      margin-bottom: 50px;
      width: 100%;
      margin: 0 auto 50px auto;
    }

    @include mixin.xs {
      font-size: 1.7rem;
      width: 100%;
    }
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    @include mixin.md {
      margin-bottom: 80px;
    }
    @include mixin.sm {
      padding: 0;
      gap: 20px;
    }
    @include mixin.xs {
      flex-direction: column;
      align-items: center;
    }
  }
  @include mixin.md {
    margin-left: 0;
    margin-top: 20px;
  }
}

.row {
  display: flex;
  @include mixin.md {
    flex-direction: column;
    gap: 40px;
  }

  @include mixin.sm {
    gap: 20px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @include mixin.md {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    & > :nth-child(3) {
      grid-column: 1 / -1; // occupe une ligne
      justify-self: center; // la centre
      max-width: 50%; // optionnel : limite la largeur de la carte
    }
  }
  @include mixin.sm {
    grid-template-columns: 1fr;
    & > :nth-child(3) {
      grid-column: auto; // occupe une ligne
      justify-self: stretch; // la centre
      max-width: 500px; // optionnel : limite la largeur de la carte
    }
  }
}
