.row {
  display: flex;
  justify-content: space-between;
  > div {
    width: 47%;
  }
}

.textarea {
  margin-top: 15px;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  &:focus {
    outline: none;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.error {
  color: #a7001e;
  font-size: 0.85rem;
  margin-top: 5px;
  font-weight: 500;
}
