select {
  border: none;
  background-color: rgba(2, 69, 103, 0.5);
  padding: 10px;
  height: 40px;
  width: 100%;
  font-size: 1rem;
  color: white;
  margin-right: 20px;
  &::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  &:focus {
    outline: none;
    background-color: rgba(2, 69, 103, 0.8);
    color: #fff;
  }
}
