@use "../../../../../assets/styles/mixin.scss" as mixin;

.container {
  border-left: 1px solid #006ea3;
  border-radius: 10px;
  background-image: linear-gradient(to right, #000, rgba(20, 20, 20));
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.title {
  font-size: 30px !important;
  color: #006ea3;
}

.description {
  display: flex;
  margin: 0 auto;
  height: 50px;
  line-height: 2;
  max-width: 350px;
  @include mixin.md {
    height: 70px;
  }
}

.price {
  font-size: 60px;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, white, #006ea3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

.monthly {
  font-size: 14px;
  margin-bottom: 20px;
  color: lightgray;
}

.item {
  padding: 20px 5px;
  border-bottom: 1px solid #006ea3;
  margin: 0 20px;
}

.item:last-child {
  border-bottom: none;
}
